# ASP.NET Core
bin/
obj/
*.db
*.db-shm
*.db-wal
wwwroot/


# Node.js
node_modules/
dist/

# React (Vite ou Create React App)
frontend/node_modules/
frontend/dist/

# IDEs
.vscode/
.idea/
*.user
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Others
.env



# Ignorar pastas de sessão e cache do venom-bot
tokens/
bot/tokens/crm-session/Default/IndexedDB/
bot/tokens/crm-session/Default/Service Worker/ScriptCache/
bot/tokens/crm-session/Default/Cache/

limparCacheVenomBot.sh
temp/uploads/


